.center.hero-unit
  %h1 Welcome to the Microblog
  %h2
    Find out what's happening, right now, with the people and organizations
    you care abou
  = link_to 'Sign up now!', signup_path, class: 'btn btn-large btn-primary'